{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-stage-2"
	],
	"env": {
		"development": {
			"sourceMaps": "inline"
		}
    },
    "comments": false,
	"sourceMaps": true,
	"plugins": [
		"@babel/plugin-proposal-private-methods"
	]
}
